name: Deploy to GitHub Pages

on:
  workflow_run:
    workflows: ["Build Hugo Site"]
    types: [completed]

permissions:
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: actions/deploy-pages@v4
